html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#productsList {
    grid-template-areas:
        "img1  img2  img3 img4   img5"
        "img1  img7  img3 img9   img5"
        "img6  img7  img8 img9   img10"
        "img6  img12 img8 img14  img10 "
        "img11 img12 img13 img14 img15";
}