@using Microsoft.AspNetCore.Identity
@using DealDynamo.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool IsBuyer = User.IsInRole("Buyer");
}

<ul class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="cart" class="nav-link text-dark" asp-area="" asp-action="ViewCart" asp-controller="Cart">
                <i class="fa-solid fa-cart-shopping"></i>
                My Cart
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle-user"></i>
                User
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="dropdown-item nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                        <i class="fa-regular fa-id-card"></i>
                        Register
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Login
                    </a>
                </li>
            </ul>
        </li>
    }
    @if (SignInManager.IsSignedIn(User) && IsBuyer)
    {
        <li class="nav-item">
            <a id="cart" class="nav-link text-dark" asp-area="" asp-action="ViewCart" asp-controller="Cart">My Cart</a>
        </li>
        <li class="nav-item">
            <a id="order" class="nav-link text-dark" asp-area="" asp-action="ViewOrders" asp-controller="Orders">My Orders</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
</ul>