@model DealDynamo.Models.ProductViewModels.ViewDetailProductViewModel

@{
    ViewData["Title"] = "Product Details";
    bool IsSeller = User.IsInRole("Seller");
}

<div class="row">
    <div class="col-md-4">
       <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Product Detail</h3>
        </div>
        <div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input readonly class="form-control" asp-for="Title">
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea readonly cols="5" type="text" class="form-control" asp-for="Description"></textarea>
                </div>
                 <div class="form-group">
                    <label asp-for="ProductImage"></label>
                    <br/>
                    <img src="~/images/@Model.ProductImage" width="200" height="200"/>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity"></label>
                    <input readonly class="form-control" asp-for="Quantity">
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input readonly class="form-control" asp-for="Price">
                </div>
                <div class="form-group">
                    <label asp-for="Category"></label>
                    <input readonly class="form-control" value="@Model.Category.Title" />
                </div>
            </div>
            <div class="card-footer">
                @if(IsSeller)
                {
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> 
                }
                <a class="text-primary" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
    </div>
</div>

