@model DealDynamo.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
       <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Edit Category</h3>
        </div>
        <form asp-action="Edit">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title">
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea cols="5" type="text" class="form-control" asp-for="Description"></textarea>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="text-primary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
